<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/js/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/js/layui/css/layui.css}">
    <style>
        .body{
            /* margin-top: 20px; */
            padding:10px 30px;
        }
        .form{
            width: 80%;
        }
    </style>

</head>
<body>
    <div class="body">
        <form class="layui-form form" id="dataForm">
            <input type="hidden" id="id" name="id" th:value="${major.id}" />
            <div class="layui-form-item">
                <label class="layui-form-label">编号</label>
                <div class="layui-input-block">
                    <input type="text" name="majorNo" required th:value="${major.majorNo}"
                    placeholder="请输入专业编号" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" for="departmentSelect">学院</label>
                <div class="layui-input-block">
                    <select id="departmentSelect" name="departmentId" th:field="${major.departmentId}">
                        <option value="">请选择学院</option>
                        <option th:each="item:${departmentList}" th:value="${item.id}" th:text="${item.departmentName}"></option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">专业</label>
                <div class="layui-input-block">
                    <input type="text" name="majorName" required th:value="${major.majorName}"
                    placeholder="请输入专业名称" autocomplete="off" class="layui-input">
                </div>
            </div>
        </form>
    </div>
<script th:src="@{/js/jquery-2.1.1.min.js}"></script>
<script th:src="@{/js/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.validate/jquery.validate.js}"></script>
<script th:src="@{/js/jquery.validate/jquery.validate.ext.js}"></script>
<script th:src="@{/js/jquery.validate/messages_zh.js}"></script>
<script th:src="@{/js/layui/layui.all.js}"></script>
<script th:inline="javascript">
    //<![CDATA[

    let $form = $("#dataForm");

    $(function(){

    });

    //保存
    function saveSubmit(){
        let validor = $form.validate();
        if (validor.form()){
            let id = $("#id").val();
            if (id !== ''){
                //id不为空，编辑
                let url = '/teach/major/'+id;
                $.ajax({
                    url:url,
                    type:'PUT',
                    data:$form.serializeArray(),
                    success:function (data) {
                        if (data.code === 200){
                            window.parent.refresh(data.msg);
                        }else {
                            layer.msg(data.msg,{time:1500,icon:2});
                        }
                    }
                });
            }else {
                //id为空，新增
                let url = '/teach/major';
                $.post(url,$("#dataForm").serializeArray(),function (data) {
                    if (data.code === 200){
                        window.parent.refresh(data.msg);
                    }else {
                        layer.msg(data.msg,{time:1500,icon:2});
                    }
                },"json");
            }
        }
    }

    //]]>
</script>
</body>
</html>