<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/js/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/js/bootstrap/css/font-awesome.min.css}" />
    <link rel="stylesheet" th:href="@{/js/layui/css/layui.css}">
    <style>
        .body{
            /* margin-top: 20px; */
            padding:10px 30px;
            width:480px
        }
        .form{
            width: 100%;
        }
        .layui-form-label{
            width: 100px;
        }
        .upload{
            padding-left: 100px;
        }
        /*头像预览皮肤*/
        .head-skin .layui-layer-title{
            color: #fff;
            background-color: #5e5e5e;
            border: none;
        }
    </style>

</head>
<body>
    <div class="body">
        <form class="layui-form form" id="dataForm">
            <input type="hidden" name="id" th:value="${wrap.id}" />
            <div class="layui-form-item row">
                <label class="layui-form-label">标题</label>
                <div class="layui-input-block">
                    <input type="text" name="username" required 
                    placeholder="请输入图片标题" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item layui-form-text row">
                <label class="layui-form-label">介绍</label>
                <div class="layui-input-block">
                    <textarea name="desc" placeholder="请输入内容" class="layui-textarea"></textarea>
                </div>
            </div>   
            <div class="layui-form-item row ">
                <label class="layui-form-label">图片</label>
                <button type="button" class="layui-btn" id="uploadImg">
                    <i class="layui-icon">&#xe67c;</i>上传图片
                </button>
                <button type="button" id="upload" style="display: none"></button>
            </div>
        </form>
    </div>
<script th:src="@{/js/jquery-2.1.1.min.js}"></script>
<script th:src="@{/js/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.validate/jquery.validate.js}"></script>
<script th:src="@{/js/jquery.validate/jquery.validate.ext.js}"></script>
<script th:src="@{/js/jquery.validate/messages_zh.js}"></script>
<script th:src="@{/js/layui/layui.all.js}"></script>
<script th:inline="javascript">
    //<![CDATA[
    $(function(){

    });
    function saveSubmit(){
        // 确认上传图片
        $("#upload").click();
    }

    //图片控件初始化
    layui.use('upload', function(){
        let upload = layui.upload;
        //执行实例
        let uploadInst = upload.render({
            elem: '#uploadImg', //绑定元素
            url: '/upload/', //上传接口
            multiple: true,
            accept:'images',//上传校验文件类型
            acceptMime:'image/*',//打开文件选择器显示类型
            auto:false,//选择完文件后是否自动上传
            bindAction:'#upload',//指定一个按钮触发上传,配合auto为false使用
            choose:function(obj){
                let files = obj.pushFile();
                //选择完文件后的回调函数
                obj.preview(function (index, file, result) {
                    console.log(index); //得到文件索引
                    console.log(file); //得到文件对象
                    console.log(result); //得到文件base64编码，比如图片
                    parent.layer.open({
                        type:1,
                        id:'preview',
                        area : [ '450px', '430px' ],
                        fix : false, //不固定
                        title : '图片预览',
                        skin:'head-skin',
                        maxmin : false,
                        content:'<div style="text-align: center;"><img src="'+result+'" style="margin-top: 20px;width: 300px;height: auto;" /><br/></div>',
                        cancel : function () {
                            delete files[index];
                        }

                    });
                })
            },
            done: function(res){
                //上传完毕回调
            },
            error: function(){
                //请求异常回调
            }
        });
    });

    //]]>
</script>
</body>
</html>