<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>课程管理</title>
    <link rel="stylesheet" th:href="@{/js/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/js/bootstrap-table/css/bootstrap-table.css}">
    <link rel="stylesheet" th:href="@{/js/bootstrap/css/font-awesome.min.css}" />
    <link rel="stylesheet" th:href="@{/js/layer/theme/default/layer.css}">

    <link rel="stylesheet" th:href="@{/js/layui/css/layui.css}">
    <style>
        #content{
            width: 100%;
            height: 100%;
            margin: 0;

        }
        .container{
            width: 100vw;
        }
        .form-tab{
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div id="content">
    <div class="well container">
        <div class="layui-form form">
            <form id="queryForm" class="row">
                <div class="row">
                    <div class="col-md-3">
                        <input type="text" name="subjectName" placeholder="请输入课程名称" autocomplete="off" class="layui-input">
                    </div>
                    <div class="col-md-3">
                        <select name="departmentId" lay-filter="department">
                            <option value="">请选择学院</option>
                            <option th:each="item:${departmentList}" th:value="${item.id}" th:text="${item.departmentName}"></option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <select id="majorSelect" name="majorId" lay-filter="major">
                            <option value="">请选择专业</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <select id="gradeSelect" name="gradeId" lay-filter="grade">
                            <option value="">请选择班级</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <input type="text" name="teacherName" placeholder="请输入教师名字" autocomplete="off" class="layui-input">
                    </div>
                    <div class="col-md-3">
                        <input type="number" name="schoolYear" placeholder="请输入学年" autocomplete="off" class="layui-input">
                    </div>
                    <div class="col-md-3">
                        <select name="schoolTerm">
                            <option value="">请选择学期</option>
                            <option value="1">第一学期</option>
                            <option value="2">第二学期</option>
                        </select>
                    </div>
                    <div  class="col-md-3">
                        <button type="button" class="layui-btn" onclick="search()">搜索</button>
                    </div>
                </div>
            </form>
        </div>
        <hr>
        <button type="button" class="btn btn-primary" onclick="addDialog()">新增课程</button>
        <div class="form-tab">
            <table id="TableList" class="table"
                   width="100%" style="table-layout:fixed;">
                <thead>
                <tr>
                    <th data-width="50" data-field="xl"
                        data-formatter="xlFormatter" data-show-tip="false">序号</th>
                    <th data-align="center" data-field="subject_name">课程名称</th>
                    <th data-align="center" data-field="department_name">学院</th>
                    <th data-align="center" data-field="major_name">专业</th>
                    <th data-align="center" data-field="grade_name">班级</th>
                    <th data-align="center" data-field="name">授课老师</th>
                    <th data-align="center" data-field="school_year">学年</th>
                    <th data-align="center" data-field="school_term">学期</th>
                    <th data-align="center" data-width="100" data-field="operation"
                        data-formatter="operation_formatter" data-show-tip="false">操作</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<script th:src="@{/js/jquery-2.1.1.min.js}"></script>
<script th:src="@{/js/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/bootstrap-table/js/bootstrap-table.js}"></script>
<script th:src="@{/js/bootstrap-table/js/bootstrap-table-zh-CN.js}"></script>
<script th:src="@{/js/layui/layui.all.js}"></script>
<script th:src="@{/js/layer/layer.js}"></script>
<script th:src="@{/js/public/table-init.js}"></script>

<script th:inline="javascript">
    //<![CDATA[
    $(function(){
        Events.TableInit({
            bootstrapTableId:'#TableList',
            url:'/score/queryCourse'
        });
        initForm();
    });

    //监听form
    function initForm() {
        layui.use('form', function(){
            let form = layui.form;
            form.render();
            //学院下拉框切换事件
            form.on('select(department)', function(data){
                //如果学院不为空,则渲染专业下拉框
                data.value !== '' && initMajorSelect(data.value);
            });
            //专业下拉框切换事件
            form.on('select(major)', function(data){
                //如果专业不为空,则渲染班级下拉框
                data.value !== '' && initGradeSelect(data.value);
            });
        });
    }

    //渲染专业下拉框
    function initMajorSelect(departmentId) {
        let url = '/teach/' + departmentId + '/major';
        $.get(url,{},function (data) {
            if (data.code === 200){
                let majorList = data.data;
                //先清空之前的选项
                $("#majorSelect").empty();
                $("#majorSelect").append('<option value="">请选择专业</option>');
                for (let item of majorList){
                    let options = '<option value="'+item.id+'">'+item.majorName+'</option>';
                    $("#majorSelect").append(options);
                }
                initForm();
            }else {
                layer.msg(data.msg,{time:1500,icon:2});
            }
        },"json");
    }

    //渲染班级下拉框
    function initGradeSelect(majorId) {
        let url = '/teach/' + majorId + '/grade';
        $.get(url,{},function (data) {
            if (data.code === 200){
                let majorList = data.data;
                //先清空之前的选项
                $("#gradeSelect").empty();
                $("#gradeSelect").append('<option value="">请选择班级</option>');
                for (let item of majorList){
                    let options = '<option value="'+item.id+'">'+item.gradeName+'</option>';
                    $("#gradeSelect").append(options);
                }
                initForm();
            }else {
                layer.msg(data.msg,{time:1500,icon:2});
            }
        },"json");
    }

    //序号显示格式
    function xlFormatter(value, row, index) {
        index = index + 1;
        return index;
    }

    //添加教师
    function addDialog (){
        let href='/score/getCourseInfo';
        idx = layer.open({//iframe层
            type : 2,//用1类型容易出错，建议用2
            id : 'addTeacher', //设定一个id，防止重复弹出
            area : [ '500px', '530px' ],
            fix : false, //不固定
            title : '新增课程',
            maxmin : false,
            content : href,
            btn : [ '提交', '关闭' ],
            yes : function(index, layero) {
                $(layero).find("iframe")[0].contentWindow.saveSubmit();
            }
        });
    }

    //搜索
    function search() {
        let params = $("#queryForm").serializeObject();
        //刷新table的数据
        $("#TableList").bootstrapTable("refresh",{
            query:params
        });
    }

    //列表操作列处理
    function operation_formatter(value, row, index) {
        let operation =  "<div class='ibox-tools' style='padding:0; float:none'>";
        operation = operation + "<a href='javascript:void(0);' onclick='onEditRow(\"" + row.id + "\")' style='padding-top:0;padding-bottom:0;margin-right:3px;padding-left:2px;'><i class='fa fa-pencil'></i></a>";
        operation = operation + "<a href='javascript:void(0);' onclick='onDeleteRow(\"" + row.id + "\")' style='padding-top:0;padding-bottom:0;margin-right:3px;padding-left:2px;'><i class='fa fa-trash-o'></i></a>";
        operation = operation  + "</div>";
        return operation;
    }

    //编辑
    function onEditRow(id) {
        let href='/score/getCourseInfo?id='+id;
        idx = layer.open({//iframe层
            type : 2,//用1类型容易出错，建议用2
            id : 'editTeacher', //设定一个id，防止重复弹出
            area : [ '400px', '530px' ],
            fix : false, //不固定
            title : '编辑课程信息',
            maxmin : false,
            content : href,
            btn : [ '提交', '关闭' ],
            yes : function(index, layero) {
                $(layero).find("iframe")[0].contentWindow.saveSubmit();
            }
        });
    }

    //删除
    function onDeleteRow(id) {
        layer.confirm("确定要删除选中记录吗？", {
            btn: ['是', '否']
        }, function (index) {
            let url = '/score/course/'+id;
            $.ajax({
                url:url,
                type:'DELETE',
                success:function (data) {
                    if (data.code === 200){
                        layer.close(index);
                        $("#TableList").bootstrapTable("refresh");
                    }else {
                        layer.msg(data.msg,{time:1500,icon:2});
                    }
                }
            });
        });
    }

    //刷新
    function refresh(msg) {
        layer.closeAll();
        $("#TableList").bootstrapTable("refresh");
        layer.msg(msg, {time:1500, icon:1});
    }
    //]]>
</script>
</body>
</html>